<div class="container py-5">
    
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2 class="form-title fw-bold text-dark">
             <button class="back-button">
      <img src="assets/back.png" alt="Back" class="back-arrow" (click)="goBack()"
        style="width: 40px; height: 40px; cursor: pointer;" />
    </button>
            Send Client Credentials</h2>
        <button class="btn btn-warning fw-bold text-dark px-4" (click)="sendWhatsAppMessage()">
        <i class="bi bi-whatsapp icon-large text-success mb-3"></i>
            Send Credentials in WhatsApp
        </button>
    </div>

    <div class="card shadow-lg border-0 rounded-3">
        <form autocomplete="off" novalidate class="card-body p-4 p-md-5">

            <div class="row g-4">

                <div class="col-12 mb-4">
                    <h5 class="mb-3 text-primary fw-bold border-bottom pb-2"><i class="bi bi-camera-fill me-2"></i> Client Credentials</h5>
                    <div class="row g-4">

                        <div class="col-12">
                            <label class="form-label fw-semibold">Access Link</label>
                            <div class="input-group">
                                <input [disabled]="true" class="form-control bg-light" value="{{accesslink}}" readonly />
                                <button 
                                    class="btn btn-outline-secondary" 
                                    type="button" 
                                    title="Copy Access Link"
                                    (click)="copyToClipboard('accessLink', $event)"
                                >
                                    <i class="bi bi-clipboard-fill"></i>
                                </button>
                            </div>
                        </div>

                        <div class="col-12">
                            <label class="form-label fw-semibold">Passcode</label>
                            <div class="input-group">
                                <input  [disabled]="true" class="form-control bg-light" value="{{passcode}}" readonly />
                                <button 
                                    class="btn btn-outline-secondary" 
                                    type="button" 
                                    title="Copy Passcode"
                                    (click)="copyToClipboard('passcode', $event)"
                                >
                                    <i class="bi bi-clipboard-fill"></i>
                                </button>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </form>
    </div>

    <br/>
    <div class="styled-card mb-4 p-4">
        <input type="checkbox" class="big-checkbox" appMarkAsDone
          [clientId]="clientId"
          adminStatus="Login info Sent"
          confirmMessage="Are you sure to mark as done?"
          (loadingChange)="onLoadingChange($event)"
        />
        <label for="markDone" class="ms-2 fw-semibold">Mark login credentials sent as Done</label>
    </div>
</div>
<div *ngIf="isLoading" class="loading-container">
    <img src="assets/loading-spinner.gif" alt="Uploading...">
</div>