<!-- home.component.html -->

<div class="container-fluid py-3 px-2">
  <div class="card shadow-sm border-0 rounded-4 p-3 mb-3 bg-white">
    <div class="row align-items-center justify-content-center g-3">
      <div class="col-12">
        <div class="slider-container">
          <img *ngFor="let img of adImages; let i = index" [src]="img" [class.active]="i === currentIndex"
            alt="Advertisement" class="slide-img" />
        </div>
      </div>
    </div>
  </div>

  <div class="p-3 rounded-4 bg-white shadow-sm">
    <h5 class="fw-bold mb-1" style="color: black;">Hey {{this.formLatestData.clientName }} ...!</h5>
    <div class="mb-2 text-muted">Pleasure to see you back,</div>
    <div class="fw-bold mb-2" style="color: black;">Important message</div>
    <ul class="mb-3 text-dark" style="list-style: disc inside;">
      <li>Select {{this.formLatestData.noOfPics }} images for album</li>
      <li>Select {{this.formLatestData.noOfFrames }} images for frame</li>
      <li>Enter name and date for cover page</li>
      <li>Select single image for cover page</li>
    </ul>

    <button *ngIf="!hasSubmitted" class="btn btn-warning text-dark fw-bold rounded-pill px-4" (click)="nextStep()">
      Start the process <i class="bi bi-arrow-right ms-2"></i>
    </button>

    <div *ngIf="hasSubmitted" class="btn btn-info text-dark fw-bold rounded-pill px-4 btn-disabled"
      style="cursor:none;">
      Your selection were already submitted
    </div>

  </div>
</div>

<div *ngIf="isLoading" class="loading-container">
  <img src="assets/loading-spinner.gif" alt="Uploading...">
</div>