<div class="container py-4">
  <div class="row mb-3">
    <div class="col-12 d-flex justify-content-between align-items-center">
      <button
        class="btn btn-link fs-4 text-white p-0"
        aria-label="Back"
        (click)="goBack()">
        <i class="bi bi-arrow-left"></i>
      </button>
      <div>
        <button
          class="btn btn-warning rounded-pill fw-bold px-4 me-2"
          (click)="onSave()">
          Save
        </button>
        <a
          class="fw-bold text-orange ms-1 cursor-pointer"
          style="font-size: 1.08rem"
          (click)="nextStep()"
          >Next</a
        >
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h3 class="fw-bold mb-2 text-white">Album name</h3>
      <div class="mb-3 text-secondary">
        Kindly enter your name to proceed in your album...
      </div>

      <form class="mb-4" novalidate>
        <div class="mb-4">
          <label for="coupleName" class="form-label fw-semibold text-white"
            >Couple Name</label
          >
          <input
            type="text"
            id="coupleName"
            class="form-control"
            placeholder="Enter your name"
            maxlength="30"
            [(ngModel)]="formData.albumName"
            name="albumName" />
        </div>

        <div class="mb-4">
          <label for="albumDate" class="form-label fw-semibold text-white"
            >Date</label
          >
          <input
            type="date"
            id="albumDate"
            class="form-control border-secondary"
            placeholder="Select date"
            [(ngModel)]="formData.albumDate"
            name="albumDate" />
        </div>
      </form>
      <!-- <div class="mb-3">
        <a class="text-primary fw-semibold d-block mb-2" href="#">
          Look you preview <i class="bi bi-eye"></i>
        </a>
        <img
          src="assets/albumcover.jpg"
          alt="Album Preview"
          class="img-fluid rounded shadow-sm"
          style="max-width: 120px" />
        <div class="text-white mt-1">Preview</div>
      </div> -->
    </div>
  </div>
</div>
 <div *ngIf="isLoading" class="loading-container">
    <img src="assets/loading-spinner.gif" alt="Uploading...">
    <!-- <p>Uploading, please wait...</p> -->
</div>
