.text-orange {
  color: #fc9500 !important;
}

.form-control {
  font-weight: 550;
  color: #000000 !important;
}

.bg-gray-light input.form-control {
  background-color: #fff !important;
  color: #212529 !important;
  border-color: #ced4da !important;
}

.bg-dark input.form-control {
  background-color: #181818 !important;
  color: #fff !important;
  border-color: #444 !important;
}

.heading-orange {
  color: #ef9333;
}