<div class="page-bg" [ngStyle]="getBackgroundStyle()">
  <form [formGroup]="loginForm" (ngSubmit)="validateClientLogin()">
    <div class="card">
      <h2 class="fw-bold">Welcome {{ this.userInfo?.clientName }}</h2>
      <label class="label fw-bold" for="code">Please enter you code to proceed</label>

      <input
        class="code-input"
        id="code"
        formControlName="passcode"
        type="text"
        maxlength="6"
        autocomplete="off"
        placeholder="- - - - - -" />

      <button class="submit-btn">Submit</button>
    </div>

    <div *ngIf="loading" class="loading-container">
      <img src="assets/loading-spinner.gif" alt="Uploading..." />
    </div>
  </form>
</div>
